<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
	<title>To Do List in Angular</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Dependencies for datetimepicker -->
	<link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
	<script type="text/javascript" src="node_modules/moment/moment.js"></script>
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
	<script type="text/javascript" src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
</head>
<body ng-controller="toDoController as tdctrl" ng-init="init()">
	<div class= "container-fluid">
		<div class="page-header text-center">
			<h1 >To Do List in AngularJS</h1>
		</div>
	</div>
	<div class="container-fluid">
		<!--Input box for task title-->
		<div class="row form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<label for="comment">Title:</label>
				<input ng-model="task" ng-change="checkInput()" type="text" class="form-control" placeholder="What do you want to do today?" name="task" required>
			</div>
			<div class="col-md-4"></div>
		</div>
		<!--Input box for Description-->
		<div class="row form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<label for="comment">Description:</label>
  				<textarea ng-model="description" class="form-control" rows="5" id="comment"></textarea>
			</div>
			<div class="col-md-4"></div>
		</div>
		<!-- Input box for Date-->
		<div class="row form-group">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<label for="comment">Date:</label>
				<div class="dropdown">
				  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
				    <div class="input-group"><input type="text" class="form-control" data-ng-model="dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				    </div>
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <datetimepicker data-ng-model="dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-before-render="startDateBeforeRender($dates)"/>
				  </ul>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<!-- Add button to create a new task -->
		<div class="row form-group">
			<div class="col-md-5"></div>
			<div class="col-md-2">
				<button ng-disabled="!validInput" ng-click="addTask()" class="btn btn-warning btn-block">Add To Do</button>
			</div>
			<div class="col-md-5"></div>
		</div>
		<!--View for created tasks. Remove and Edit option are available. Depending on editViewFlag either edit view is shown or hidden. -->
		<div class="row form-group" ng-repeat="list in toDoList">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="list-group-item">
					<!--Checkbox view for To Do tasks -->
					<div class="checkbox" ng-show="!list.editView">
						<label ng-style="doneStatus($index)"><input type="checkbox" ng-model="checkBoxModel" ng-change="updateTaskStatus($index)">{{list.action}}</label>
					</div>
					<!-- Shows up when edit view is clicked -->
					<div class="container-fluid" ng-show="list.editView">
						<div class="input-lg"><input type="textarea" class="form-control" ng-model="list.action" ng-change="checkUpdate($index)" required></div>
						<div class="text-center"><button ng-disabled="!validUpdate" ng-click="showEditView($index)" class="btn btn-primary">Save</button></div>
					</div>
				</div>
			</div>
			<div class="col-md-1"><button ng-click="deleteTask($index)" class="btn btn-danger">Remove</button></div>
			<div class="col-md-1"><button ng-disabled="list.doneFlag" ng-click="showEditView($index)" class="btn btn-success">Edit</button></div>
			<div class="col-md-2"></div>
		</div>
		<!-- Accordion view for tasks created-->
		<div class="row form-group" ng-repeat="list in toDoList">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="checkbox" ng-show="!list.editView">
								<div class="container-fluid panel-title">
									<input type="checkbox" ng-model="checkBoxModel" ng-change="updateTaskStatus($index)">
									<a ng-style="doneStatus($index)" data-toggle="collapse" data-parent="#accordion" href="#{{list.taskId}}">
									{{list.action}}
									</a>
								</div>
							</div>
						</div>
						<div id="{{list.taskId}}" class="panel-collapse collapse in">
							<div class="panel-body">
								<p ng-show="showAccordionEmpty($index)"><em>Add a description and date</em></p>
								<p>{{list.desc}}</p>
								<p style="text-align:right"><em>{{list.tskdate | date: 'd MMM yyyy EEEE h:mm a'}}</em></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"><button ng-click="deleteTask($index)" class="btn btn-danger">Remove</button></div>
			<div class="col-md-1"><button ng-disabled="list.doneFlag" ng-click="showEditView($index)" class="btn btn-success">Edit</button></div>
			<div class="col-md-2"></div>
		</div>

		
	</div>
</body>
<script type="text/javascript">
	(function (){
		//Derective for date time picker
		var app = angular.module('toDoApp',['ui.bootstrap.datetimepicker']).
		controller('toDoController',function($scope) {

			$scope.tId = 0;
			//Initialisation function
			$scope.init = function init(){
				$scope.task = null;
				$scope.description = null;
				$scope.validInput = false;
			};

			//Array of tasks
			$scope.toDoList = []

			//Function for adding tasks to To Do List. Pushes the input received through task model into the toDoList Array.
			$scope.addTask = function addTask(){
				//Angular function to check whether a model is undefined
				console.log("datepicker default value", $scope.dateDropDownInput)
				if(angular.isUndefined($scope.dateDropDownInput))
				{
					$scope.tDate = null;
					console.log("datepicker condition false")
				}
				else
				{
					$scope.tDate = $scope.dateDropDownInput;
					console.log("datepicker condition true")
				}
				console.log("Value of tDate", $scope.tDate)
				$scope.toDoList.push({taskId:$scope.tId,action:$scope.task, desc:$scope.description,tskdate:$scope.tDate,doneFlag:false, editView:false});
				$scope.tId++;
				$scope.init();
			};

			//Function to update the status of the task as completed or not completed
			$scope.updateTaskStatus = function updateTaskStatus(id){
				if($scope.toDoList[id].doneFlag === false){
					$scope.toDoList[id].doneFlag = true;
				}
				else if($scope.toDoList[id].doneFlag === true){
					$scope.toDoList[id].doneFlag = false;
				}
			};

			//Function that deletes a task
			$scope.deleteTask = function deleteTask(id){
				$scope.toDoList.splice(id, 1);
			};

			//Function for checking validity of main input box
			$scope.checkInput = function checkInput(){
				if($scope.task)
				{
					$scope.validInput = true;
				}
				else{
					$scope.validInput = false;					
				}
			};

			//Function for checking validty of edit view input box
			$scope.checkUpdate = function checkUpdate(id){
				if($scope.toDoList[id].action)
				{
					$scope.validUpdate = true;
				}
				else{
					$scope.validUpdate = false;					
				}
			};

			//Function changes the value of editViewFlag when Edit button is clicked
			$scope.showEditView = function showEditView(id) {
				if($scope.toDoList[id].editView === false){
					$scope.toDoList[id].editView = true;
				}
				else if ($scope.toDoList[id].editView === true){
					$scope.toDoList[id].editView = false;	
				}
			};

			//Function to change style property to line-through when doneFlag status is changed
			$scope.doneStatus = function doneStatus(id){
				$scope.mystyle = null;
				if($scope.toDoList[id].doneFlag)
				{
					$scope.mystyle = {'text-decoration': 'line-through'};
				}
				return $scope.mystyle;
			};

			//Function to invalidate past dates
			$scope.startDateBeforeRender = function($dates) {
			  const todaySinceMidnight = new Date();
			    todaySinceMidnight.setUTCHours(0,0,0,0);
			    $dates.filter(function (date) {
			      return date.utcDateValue < todaySinceMidnight.getTime();
			    }).forEach(function (date) {
			      date.selectable = false;
			    });
			};

			//Add a placeholder if no information has been added
			$scope.showAccordionEmpty = function showAccordionEmpty(id){
				$scope.hideFlag = true;
				if(($scope.toDoList[id].desc == null) && ($scope.toDoList[id].tskdate == null)){
					$scope.hideFlag = true;
				}
				else{
					$scope.hideFlag = false;
				}
				// console.log("value of hideFlag ", $scope.hideFlag);
				return $scope.hideFlag;
			}
		});
	})();
</script>
</html>